[Unit]
Description=Weather API .NET Web API Application running on Ubuntu 

[Service]
WorkingDirectory=/home/ubuntu/weather-api/
ExecStart=/usr/bin/dotnet /home/ubuntu/weather-api/publish/WeatherApi.dll --urls "http://0.0.0.0:5000"
Restart=always 
RestartSec=10 
SyslogIdentifier=dotnet-weatherAPI 
User=ubuntu
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target